@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: #c6fad6;
    font-family: "Montserrat Alternates", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.header-anchor {
    position: sticky;
    top: 90%;
    font-size: 50px;
    margin-left: 95%;
    color: rgb(196, 157, 232);
    z-index: 10;
    cursor: pointer;
}

/* ************************HEADER******************************* */

/* ****************Navigation************************ */

.main-navigation {
    background-color: #ffffd3;
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-navigation .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.main-navigation .nav-list-item a {
    color: rgb(175, 122, 224);
    /* font-size: 18px; */
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    display: block;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-navigation .nav-list-item a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #c6fad6;
    border-bottom: 2px solid #c6fad6;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

.main-navigation .nav-list-item a::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c6fad6;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

.main-navigation .nav-list-item a:hover {
    color: #ffffd3;
}

.main-navigation .nav-list-item a:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

.main-navigation .nav-list-item a:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

/* ****************Main Header********************** */
.main-header {
    height: 300px;
    width: 100%;
    display: flex;
}

.image-wrapper {
    width: calc(20% + 50px);
    height: 100%;
    background-color: transparent;
    border-right: 100px solid rgb(175, 122, 224);
    border-bottom: 300px solid transparent;
    position: relative;
}

.image-wrapper img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 300px;
    width: calc(100% + 100px);
    z-index: -1;
    object-fit: cover;
    max-width: unset;
}

.description {
    width: calc(80% - 50px);
    background-color: rgb(175, 122, 224);
    color: #ffffd3;
    margin: 0;
    padding: 20px 20px 20px 0;
    font-size: 18px;
    position: relative;
}

.description .heading-wrapper {
    text-align: center;
    padding-right: 20px;
}

.description h1 {
    font-family: Megrim, sans-serif;
    font-size: 80px;
    font-weight: 600;
}

.description .h2-wrapper {
    background-color: #ffffd3;
    color: rgb(175, 122, 224);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
}

.skewed {
    transform: skewX(20deg);
}

.description h2 {
    font-family: "Monoton", sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    width: 100%;
    word-spacing: 20px;
    padding: 10px 40px;
    transform: skewX(-20deg);
}

/* ************************MAIN******************************* */

.main-section {
    padding: 120px 80px;
}

.icon-wrapper img {
    height: 70px;
    transform: rotate(-45deg);
}

.icon-wrapper {
    background-color: #ffffd3;
    transform: rotate(45deg);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    left: 5px;
    top: -80px;
    border: 3px solid rgb(175, 122, 224);
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
}

.inner-wrapper .section-heading {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 16%;
    transform: translateY(-50%);
    font-size: 34px;
    background-color: rgb(175, 122, 224);
    padding: 25px 20px;
    color: #ffffd3;
    line-height: 1;
    font-family: "Monoton", sans-serif;
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.37);
}

/* ****************About me and contacts********************** */

.main-section.about-me img {
    height: 90px;
}

.lower {
    display: none;
}

.about-me {
    margin-top: 70px;
    padding: 120px 80px 50px;
}

.about-me .inner-wrapper {
    background-color: #ffffd3;
    border: none;
    color: rgb(175, 122, 224);
}

.about-me h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Megrim, sans-serif;
    font-size: 35px;
}

.about-me .inner-wrapper {
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
}

.about-me .main-content {
    display: flex;
    justify-content: space-between;
}

.about-me .left-section {
    text-align: justify;
    border-right: 1px solid rgb(175, 122, 224);
    padding-right: 60px;
    text-indent: 20px;
    width: 70%;
    line-height: 1.8;
}

.about-me .left-section a {
    color: rgb(175, 122, 224);
    padding: 8px 10px;
    border-radius: 50%;
    transition: all 0.7s ease-out;
    font-weight: 600;
    font-family: "Monoton", sans-serif;
}

.about-me .left-section a:hover {
    color: #ffffd3;
    background-color: rgb(175, 122, 224);
}

.about-me .right-section {
    padding-left: 60px;
    width: 30%;
}

.about-me .right-section ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-end; */
    gap: 20px;
    font-size: 17px;
}

.about-me .right-section ul li:nth-of-type(1),
.about-me .right-section ul li:nth-of-type(2),
.about-me .right-section ul li:nth-of-type(3) {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-me .right-section a {
    color: rgb(175, 122, 224);
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    transition: all 0.7s ease;
}

.about-me .right-section a:hover {
    letter-spacing: 0.5px;
}

.about-me .right-section i {
    font-size: 30px;
}

.icon-wrapper.right-icon {
    left: 62%;
}

.icon-wrapper.right-icon img {
    height: 60px;
}

.inner-wrapper .section-heading.right-heading {
    left: 77%;
}

/* ****************Skills********************** */

.inner-wrapper {
    position: relative;
    border-radius: 20px;
    border: 4px dashed rgb(175, 122, 224);
    padding: 75px;
}

.skills-heading {
    font-family: Megrim, sans-serif;
    color: rgb(175, 122, 224);
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 600;
}

/* ******* Skills-Tech******* */

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    font-size: 26px;
    color: rgb(175, 122, 224);
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.skill-list > li {
    width: 45%;
    text-align: center;
    /* font-weight: 500; */
    background-color: #ffffd3;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid #ffffd3; */
    position: relative;
    transition: color 0.7s ease-in;
    -webkit-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
}

.skill-list > li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 100%;
    background-color: rgb(175, 122, 224);
    transition: width 1s ease-in;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
}

.skill-list span {
    display: inline-block;
    transform: skewX(-20deg);
    font-size: 22px;
}

.inner-wrapper:hover {
    .skill-list > li {
        color: #ffffd3;
    }

    .skill-list > li::before {
        width: 90%;
    }

    .skill-list > li:nth-of-type(4):before {
        width: 60%;
    }

    .skill-list > li:nth-of-type(5):before,
    .skill-list > li:nth-of-type(6):before,
    .skill-list > li:nth-of-type(9):before {
        width: 80%;
    }

    .skill-list > li:nth-of-type(7),
    .skill-list > li:nth-of-type(10) {
        color: rgb(175, 122, 224);
    }

    .skill-list > li:nth-of-type(7):before,
    .skill-list > li:nth-of-type(10):before {
        width: 40%;
    }
}

/* ******* Languages******* */

.languages {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages .dot {
    /* border: 2px solid rgb(175, 122, 224); */
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.languages .language {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 30px;
}

.languages span {
    color: rgb(175, 122, 224);
    font-size: 22px;
    text-transform: uppercase;
    /* font-weight: 600; */
    display: inline-block;
    width: 30%;
}

.languages span i {
    color: #ffffd3;
}

.languages .dot-wrapper {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
    align-items: center;
}

.language .dot {
    background-color: #ffffd3;
    -webkit-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
    box-shadow: inset 3px -6px 16px -6px rgba(0, 0, 0, 0.17);
}

.language.english .dot,
.language.german .dot:nth-of-type(1),
.language.german .dot:nth-of-type(2),
.language.german .dot:nth-of-type(3),
.language.italian .dot:nth-of-type(1),
.language.italian .dot:nth-of-type(2) {
    background-color: rgb(175, 122, 224);
}

/* ****************Projects********************** */

.projects {
    padding: 100px 0;
}

.projects .inner-wrapper {
    border: none;
    padding: 150px 0 0;
}

.projects .icon-wrapper {
    left: 6%;
}

.projects .inner-wrapper .section-heading {
    left: 20%;
}

.project-wrapper {
    height: 420px;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
}

.project-wrapper .project-image {
    width: calc(40% + 50px);
    height: 100%;
    border-bottom: 420px solid transparent;
    position: relative;
    background-color: #ffffd3;
    transition: all 0.7s ease-in;
}

.project-wrapper.left .project-image {
    border-right: 100px solid rgb(175, 122, 224);
}

.project-wrapper.right .project-image {
    border-left: 100px solid rgb(175, 122, 224);
}

.project-wrapper .project-description {
    width: calc(60% - 50px);
    background-color: rgb(175, 122, 224);
    padding: 0 40px 10px;
    color: #ffffd3;
    /* font-size: 18px; */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.project-wrapper .project-description ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-wrapper .project-description h2 {
    font-family: Megrim, sans-serif;
    font-size: 60px;
    color: #ffffd3;
    text-align: center;
    padding: 10px;
    /* font-weight: 400; */
    /* text-shadow: 6px 2px 7px rgba(0, 0, 0, 0.15); */
}

.project-wrapper .project-description p {
    text-align: justify;
}

.project-image img {
    height: 420px;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.7s ease-in;
}

.left .project-image img {
    left: -150%;
}

.right .project-image img {
    right: -150%;
}

.project-wrapper.left:hover {
    .project-image {
        background-color: transparent;
    }

    .project-image img {
        left: 0;
    }
}

.project-wrapper.right:hover {
    .project-image {
        background-color: transparent;
    }

    .project-image img {
        right: 0;
    }
}

.project-description a {
    color: #c6fad6;
    font-family: Megrim, sans-serif;
    font-weight: 900;
    transition: all 0.8 ease-out;
}

.project-description a:hover {
    opacity: 0.8;
}

/* ****************Education********************** */

.education {
    color: rgb(175, 122, 224);
}

.education .education-list i {
    color: #ffffd3;
}

/* ****************Work experience********************** */

.work .inner-wrapper {
    border: none;
    background-color: #ffffd3;
    -webkit-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.25);
    color: rgb(175, 122, 224);
}

.work .work-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
    padding: 40px;
}

.education .education-list span,
.work .work-list span {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
}

/* ****************Interests********************** */

.interests .inner-wrapper {
    border: none;
    position: relative;
}

.interests .hiking {
    width: 200px;
    height: 200px;
    background-color: #ffffd3;
    color: rgb(175, 122, 224);
    font-size: 26px;
    position: relative;
}

.interest {
    border-radius: 50%;
    transition: all 0.9s ease-out;
}

.interest span {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.interest::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
    visibility: hidden;
    transition: all 0.7s ease-out;
}

.animals {
    background-color: rgb(175, 122, 224);
    color: #ffffd3;
    width: 300px;
    height: 300px;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 16%;
    z-index: 3;
}

.plants {
    width: 250px;
    height: 250px;
    font-size: 28px;
    color: rgb(175, 122, 224);
    -webkit-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: 30%;
    z-index: 4;
}

.games {
    width: 270px;
    height: 270px;
    font-size: 27px;
    background-color: rgb(175, 122, 224);
    color: #c6fad6;
    position: absolute;
    left: 44%;
    top: 100px;
    /* z-index: 0; */
}

.movies {
    width: 380px;
    height: 380px;
    color: #c6fad6;
    background-color: #ffffd3;
    font-size: 35px;
    position: absolute;
    left: 64%;
    top: 10%;
}

.music {
    width: 230px;
    height: 230px;
    font-size: 23px;
    -webkit-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    color: #ffffd3;
    z-index: 3;
    position: absolute;
    left: 56%;
    top: 300px;
}

.animals:hover {
    background: url(/images/cats.jpg);
}

.hiking:hover {
    background: url(/images/hiking.jpg);
}

.games:hover {
    background: url(/images/games.jpg);
}

.movies:hover {
    background: url(/images/movies.jpg);
}

.music:hover {
    background: url(/images/music.jpg);
}

.plants:hover {
    background: url(/images/plants.jpg);
}

.interest:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 7px 33px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transform: scale(1.2);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.726);
}

.interest:hover::before {
    visibility: visible;
}

.footer {
    margin-top: 10vw;
    background-color: #ffffd3;
    padding: 50px;
    font-size: 20px;
    color: rgb(175, 122, 224);
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 1350px) {
    .description h2 {
        font-size: 40px;
    }

    .inner-wrapper .section-heading {
        font-size: 25px;
    }

    .icon-wrapper {
        width: 90px;
        height: 90px;
    }

    .icon-wrapper img {
        height: 60px;
    }

    .main-section.about-me img {
        height: 80px;
    }

    .icon-wrapper.right-icon img {
        height: 60px;
    }

    .inner-wrapper {
        padding: 55px;
    }

    .about-me .left-section {
        padding-right: 50px;
        width: 65%;
    }

    .about-me .right-section {
        padding-left: 50px;
        width: 35%;
    }
}

@media screen and (max-width: 1100px) {
    .main-section:not(.projects) {
        padding: 80px 50px;
    }

    .about-me {
        padding: 50px 50px 0px;
    }

    .about-me .main-content {
        flex-direction: column;
    }

    .about-me .left-section {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgb(175, 122, 224);
        padding-bottom: 100px;
        padding-right: 0px;
    }

    .about-me .right-section {
        width: 100%;
        padding-left: 0px;
        padding-top: 100px;
        position: relative;
        height: 250px;
    }

    .about-me .right-section ul {
        flex-wrap: wrap;
    }

    .about-me .right-section ul li {
        width: 50%;
    }

    .lower {
        display: flex;
    }

    .upper {
        display: none;
    }

    .icon-wrapper.right-icon {
        left: -55px;
        top: -80px;
    }

    .inner-wrapper .section-heading.right-heading {
        left: 11%;
        top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .description {
        display: flex;
        align-items: center;
    }

    .description h1 {
        font-size: 60px;
    }

    .description h2 {
        font-size: 30px;
    }

    .image-wrapper {
        width: calc(30% + 50px);
    }

    .description {
        width: calc(70% - 50px);
    }

    .inner-wrapper .section-heading {
        left: 25%;
        font-size: 22px;
    }

    .icon-wrapper {
        width: 70px;
        height: 70px;
        top: -65px;
    }

    .icon-wrapper.right-icon {
        top: -65px;
    }

    .icon-wrapper img {
        height: 45px;
    }

    .main-section.about-me img {
        height: 60px;
    }

    .icon-wrapper.right-icon img {
        height: 45px;
    }

    .projects .inner-wrapper .section-heading {
        left: 25%;
    }

    .inner-wrapper .section-heading.right-heading {
        left: 20%;
    }

    .work .inner-wrapper {
        padding: 45px;
    }

    .work-list {
        flex-direction: column;
    }

    .skill-list > li {
        width: 70%;
    }

    .skill-list {
        gap: 15px;
    }
}

@media screen and (max-width: 760px) {
    .description h1 {
        font-size: 50px;
        text-align: left;
    }

    .description h2 {
        font-size: 25px;
    }

    .image-wrapper {
        width: calc(40% + 50px);
    }

    .description {
        width: calc(60% - 50px);
    }
}

@media screen and (max-width: 600px) {
    .main-header {
        height: 180px;
        width: 100%;
        display: flex;
    }

    .description h1 {
        font-size: 30px;
        text-align: center;
    }

    .description h2 {
        font-size: 20px;
        text-align: center;
    }

    .description {
        width: calc(70% - 30px);
    }

    .image-wrapper {
        width: calc(30% + 30px);
        border-bottom: 180px solid transparent;
        border-right: 60px solid rgb(175, 122, 224);
    }
    .image-wrapper img {
        height: 180px;
        width: calc(100% + 60px);
    }

    .inner-wrapper .section-heading,
    .inner-wrapper .section-heading.right-heading,
    .projects .inner-wrapper .section-heading {
        left: 50%;
        top: -35px;
        transform: translateX(-50%);
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .description h1 {
        font-size: 40px;
        position: absolute;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -80px;
        width: 100vw;
        left: 0;
        background-color: #ffffd3;
        color: rgb(175, 122, 224);
    }

    .main-header {
        position: relative;
    }

    .description {
        position: static;
        justify-content: center;
        padding: 0;
    }

    .description h2 {
        font-size: 20px;
        text-align: left;
        padding: 12px 12px 12px 30px;
    }

    .heading-wrapper {
        width: min-content;
    }
}

@media screen and (max-width: 420px) {
    .description {
        width: calc(65% - 30px);
    }

    .image-wrapper {
        width: calc(35% + 30px);
    }

    .description h2 {
        font-size: 18px;
    }

    .inner-wrapper .section-heading,
    .inner-wrapper .section-heading.right-heading,
    .projects .inner-wrapper .section-heading {
        font-size: 16px;
    }
}
